<?xml version="1.0"?>
<configuration>
	<appSettings />
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" /></assemblies></compilation>
		<authentication mode="Windows" />
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add assembly="Ext.Net" namespace="Ext.Net" tagPrefix="ext" />
			</controls>
		</pages>
		<httpModules>
			<add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
		</httpModules>
	</system.web>
	<system.webServer>
		<defaultDocument enabled="true">
			<files>
				<clear />
				<add value="Login.aspx" />
				<add value="Default.aspx" />
			</files>
		</defaultDocument>
		<modules>
			<add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net" />
		</modules>
		<handlers>
			<add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler" />
		</handlers>
	</system.webServer>	
<connectionStrings><add name="SyllabusDbEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=mssql02.turhost.com;Initial Catalog=SyllabusDb;User ID=semihduran;Password=5t4r3e2w1q;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>
